<div class="main-container">
    <nav class="header">
        <div class="header-brand">
            <a href="#">Brand name</a>
            <div class="header-name">Đăng ký</div>
        </div>
        <a href="#">Cần trợ giúp</a>
    </nav>
    <div class="body">
        <div class="body-content">
            <form>
                <div class="authenticate-form">
                    <div class="form-content">
                        <div class="form-header">Đăng kí</div>
                        <div class="main-form">
                            <app-material-input textLabel="Số điện thoại" type="input"></app-material-input>
                            <button class="btn btn-primary w-100">Tiếp theo</button>
                        </div>
                        <div class="social-media">
                            <button class="button-social">
                                <div class="button-social">
                                    <div class="social-white-background"></div>
                                </div>
                                <div class="">Facebook</div>
                            </button>
                            <button class="button-social">
                                <div class="button-social">
                                    <div class="social-white-background"></div>
                                </div>
                                <div class="">Google</div>
                            </button>
                            <button class="button-social">
                                <div class="button-social">
                                    <div class="social-white-background"></div>
                                </div>
                                <div class="">Apple</div>
                            </button>
                        </div>
                        <div class="text-center mt-3">Bằng việc đăng kí, bạn đã đồng ý với Shopee về</div>
                        <div class="text-center">Điều khoản dịch vụ & chính sách bảo mật</div>
                        <div class="text-center mt-5">Bạn đã có tài khoản? <a>Đăng nhập</a></div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
